@font-face {
    font-family: main;
    src: url(SuperLobster.ttf);
}

body {
    background-color: rgb(73, 66, 84);
    color:rgb(239, 252, 254);
    font-family: main;
}

.card {
    background-color: rgb(132, 143, 166);
    color:rgb(239, 252, 254);
}

.navbar {
    background-color: rgb(132, 143, 166);
    background-blend-mode: multiply;
    color:rgb(239, 252, 254);
    font-size: 100%;
    --bs-navbar-active-color: rgb(239, 252, 254);
    --bs-navbar-color: rgb(249, 249, 249);
    --bs-navbar-hover-color: rgb(232, 247, 249);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(256, 256, 256, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    --bs-navbar-toggler-border-color: rgb(256, 256, 256);
    --bs-navbar-toggler-border-radius: 0.375rem
}

.audioList{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(132, 143, 166);
    border-radius: .75rem;
    padding: .75rem;
}

a:link {
    color:rgb(249, 249, 249);
    text-decoration: underline;
}

a:visited{
    color:rgb(249, 249, 249);
    text-decoration: underline;
}

a:hover{
    color:rgb(249, 249, 249);
    text-decoration: underline;
}

a:active{
    color:rgb(249, 249, 249);
    text-decoration: underline;
}